html{
    font-family: 'Times New Roman', Times, serif;
    background-image: linear-gradient(#43cea2,#185a9d);
}
header{
    background-image: linear-gradient(#141E30,#243B55);
}
header div{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    color:white; 
}
a{
    text-decoration: none;
    color: white;
}
img{
    width:100%;
    height: 100%;
}
#container{
    margin:50px;
    display: flex;
    justify-content: space-around;
}

#meal-img-container{
    width: 25%;
}
#meal-detail-container{
    width: 55%;
    display: flex;
    justify-content: space-between;
}
#headings{
    width:50%;
}
.detail-class{
    margin-bottom:30px;
}
#ins{
    width: 40%;
}
#photo img{
    height:300px;
    width:300px;
    border: 1px solid darkslategray;
}
