html{
    font-family: 'Times New Roman', Times, serif;
    background: #43cea2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
header{
    background-image: linear-gradient(#141E30,#243B55);
}
header div{
    width:50%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    color:white; 
}
a{
    text-decoration: none;
    color: white;
}
img{
    width:100%;
    height: 100%;
}
#container{
    margin:50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#meal-img-container{
    width: 25%;
}
#meal-detail-container{
    width: 55%;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
#headings{
    width:50%;
}
.detail-class{
    margin-bottom:30px;
}
#ins{
    width: 40%;
}
#photo img{
    height:300px;
    width:300px;
    border: 1px solid darkslategray;
}
@media screen and (max-width:1000px){
    #headings{
        width:100%;
        margin-bottom: 20px;
    }
    #meal-img-container{
        width:40%;
    }
    #meal-detail-container{
        width:35%;
    }
    #ins{
        width:100%;
    }
    #container{
        width:90%;
    }
}

@media screen and (max-width:700px){
   
    header div{
        width:100%;
    }
    #meal-img-container{
        width:70%;
    }
    #meal-detail-container{
        width:70%;
        margin-top:55px;
    }
    
}

@media screen and (max-width:400px){
    header div{
        display: block;
        width:70%;
        margin-left:auto;
        height:130px;
    }
    #container{
        margin:0px;
        margin-top:50px;
        width:100%;
    }
    #photo{
        margin:-30px;
    }
    #meal-detail-container{
        width:90%;
    }
}
